<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md col-lg-6 col-xl-6 col-xxl-6">
                    <img src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" width="100%"
                        alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class=" mt-3 row g-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <h3>Admin Login</h3>
                            <label for="" class="form-label">Username</label>
                            <input type="text" name="username" [(ngModel)]="username" id="" class="form-control">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Password</label>
                            <input type="password" name="password" [(ngModel)]="password" id="" class="form-control">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <button class="btn btn-primary form-control" (click)="readValue()">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>