<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md col-lg-6 col-xl-6 col-xxl-6">
                    <img src="https://images.unsplash.com/photo-1580679568899-be51739ba2df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=495&q=80" width="100%"
                        alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class=" mt-3 row g-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <h3>Add Car </h3>
                            <label for="" class="form-label">Car Model</label>
                            <input type="text" name="carModel" [(ngModel)]="carModel " id="" class="form-control">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Car Price</label>
                            <input type="text" name="carPrice" [(ngModel)]="carPrice" id="" class="form-control">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Car Image</label>
                            <input type="text" name="carImage" [(ngModel)]="carImage" id="" class="form-control">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <button class="btn btn-primary form-control" (click)="readValue()">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>